@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100;0,300;1,400;1,700&family=Roboto:wght@300;400;500;700&family=Work+Sans:wght@100;300;400;600;800&display=swap');

:root {
    --principal-font: 'Roboto Mono', monospace;

    /*colores */
    --color-blueElictry: #00276c;
    --color-blueNeon: #01c4e7;
    --color-redNeon: #ff0534;
    --color-greenNeon: #2ef8a0;
    --color-darkBlueNeon: #05183c;
    --color-white: white;
    --color-black: #000000;


    /*Sera una Clase general para el ancho y largo del contenedor usaremos un estandar en el tamaño*/
    --container-width-lg: 75%;
    --container-width-md: 86%;
    --container-width-ms: 90%;
}
/* Fuentes personalizadas */
@font-face {
	font-family: 'Roboto Mono', monospace;
	src: url('./assets/font/CentraNo2-Bold.ttf');
	font-weight: 700;
}
@font-face {
	font-family: 'Roboto Mono', monospace;
	src: url('./assets/font/CentraNo2-Medium.ttf');
	font-weight: 500;
}
@font-face {
	font-family: 'Roboto Mono', monospace;
	src: url('./assets/font/CentraNo2-Book.ttf');
	font-weight: 400;
}


body {
    margin: 0;
    font-family: 'Roboto Mono', monospace;
    line-height: 1.7;
    /*espacio entre texto*/

    /*declaro el color del fondo y las letras*/
    background-color: var(--color-darkBlueNeon);
    font-weight: 400;
    overflow-x: hidden;
    position: relative;

    color: var(--color-white);
}

html {
    box-sizing: border-box;
    font-family: var(---principal-font);
    scroll-behavior: smooth;
    scroll-padding-top: 75px;


    /*Esto hace que el movimiento se suave a la hora de bajar o subir*/
    scroll-behavior: smooth;
}

/*Esto es para eliminar la barra de desplazamiento*/
::-webkit-scrollbar {
    display: none;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

img {
    max-width: 100%;
    height: auto;

}

h1,h2,h3,h4,h5,h6 {
    margin: 0;
    padding: 0;
    
}

p,a,li,button,ul {
    margin: 0;
    padding: 0;
    line-height: normal;
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

button {
    border: 0;
    background-color: transparent;
}

input:focus,textarea:focus,select:focus {
    outline: none;
}

@media (min-width:1700px) {
    main .container {
        max-width: 100%;
        padding: 0 150px;
    }
}

p.success {
	color: rgb(192, 231, 14);
}

p.danger {
	color: rgb(0, 132, 255);
}